
.container {
  
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    background-color: rgba(243, 243, 243, 0.733);
    padding: 10px; grid-column-gap: 50px;
   
  
  }

  .item{ 
    background-color: whitesmoke;
     text-align:left; 
     margin-left: 90px;
    width: 350px;
    align-items: center; 
 
  }
  p{color: rgb(99, 99, 99);}

 
  
  .body1{background-color: whitesmoke;}
  